body{
   background-color: rgb(12, 83, 214)
}

h1{
    text-align: center;
    height: 40px;
    font-family: workbench,sans-serif;
    background-color: darkviolet;
    color: white;
    
}
h2{
    text-align: center;
    color: white;
    font-family: workbench,sans-serif;
}
section{
    color: white;
    text-align: center;
}
img{
    height: 400px; width: 900px;
    
}
a{
     color: blue;
     flex-direction: column;
     justify-content: space-between;
     
}