body{
   background-image: url(images/star-wars-death-star-at-at-space-wallpaper-preview.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

h1{
    text-align: center;
    height: 40px;
    font-family: workbench,sans-serif;
    background-color: darkviolet;
    color: white;
    padding: 50px;
    
}
h2{
    text-align: center;
    color: white;
    font-family: workbench,sans-serif;
}
section{
    color: white;
    text-align: center;
}

a{
     color: blue;
     text-decoration: none;
    
     
}
ul{
    display: flex;
    justify-content: space-between;
    
    
    
    
}
.Posição{
    background-image: url(images/MV5BMzVkYzAzM2UtYTM1Ni00ZTIyLTgwMzctZTQ1MGRhYjgyZmYwXkEyXkFqcGdeQXVyMTE0MzQwMjgz._V1_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 500px;
    border-radius: 30px;
    filter:drop-shadow(0 0 0.75rem rgb(0, 58, 216));
}
.jp{
    background-image: url(images/i874129.jpeg);
    height: 300px;
    background-repeat: no-repeat;
    filter:drop-shadow(0 0 0.75rem rgb(0, 228, 0));
}
h3{
    color: white;
    height: 40px;
}
main{
    color: white;
}
.star{
    background-image: url(images/i874127.jpeg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    filter:drop-shadow(0 0 0.75rem rgb(0, 228, 0));
    border-radius: 30px;
    
}
.gg{
    background-image: url(images/maxresdefault.jpg);
    display: flex;
    flex-direction: row;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}
.bp{
    background-color: black;
    height: 100px;
}
.bp:hover{
    background-color: rebeccapurple;
}
footer{
    color: white;
    text-align: center;
}
