body{
    background-color: black;
}
h1{
    text-align: center;
    height: 40px;
    font-family: workbench,sans-serif;
    background-color: darkviolet;
    color: white;
    padding: 50px;
    
}
h2{
    color: white;
    text-align: center;
}
a{
    color: blue;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-between;
}
.bp{
    background-color: black;
    height: 100px;
}
.bp:hover{
    background-color: rebeccapurple;
}
img{
    max-width: 100%;
    display: block;
}


    

.lo{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-width: 500px;
    margin: 20px ;
    grid-gap: 170px;
    border-radius: 100px;
   
    
    
    
}
.lo > div:nth-child(){
    display: grid;
    grid-template-columns: 1fr  ;
    grid-gap: 10px;
    align-items: center;
}
.lo2{
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
   

}
.lo2 > div {
    flex: 1 1 200px;
    margin: 10px;
    
}
