body{
    background-color: black;
}
h1{
    text-align: center;
    height: 40px;
    font-family: workbench,sans-serif;
    background-color: darkviolet;
    color: white;
    padding: 50px;
    
}
h2{
    color: white;
    text-align: center;
}
a{
    color: blue;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-between;
}
.bp{
    background-color: black;
    height: 100px;
}
.bp:hover{
    background-color: rebeccapurple;
}
img{
    max-width: 100%;
}
.lo {
   display: grid;
   grid-template-columns: 1fr 200px;
   grid-gap: 20px;
   max-width: 800px;
   padding: 10px;
   margin: 0 auto;
   color: white;
   
    
}
@media (max-width: 600px) {
    .lo {
        grid-template-columns: 1fr;
    }
}
.lo2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 40px;
    color: white;
}
@media (max-width: 600px) {
    .lo2 {
        grid-template-columns: 1fr;
    }
}
footer{
    color: white;
    text-align: center;
}



    
    

